/* You can add global styles to this file, and also import other style files */


html,
body {
	height: 100%;
}

.full-width {
	width: 100%;
}

.e5-color {
	color: #e3165b
}

.e5-bg-clor {
	color: #e3165b
}

.my-snack-bar button {
	color: #f8f9fa;
}

.icon-large {
	font-size: 20px;
}